* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #503047;
}

body .quote-input {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.container {
    background-color: #FEFADC;
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
    position: relative; /* Ensures that absolute positioning is relative to the container */
}

/* Adjustments to .timer might be needed depending on your layout desires */
.timer {
    font-size: 10rem; 
    color: #FEFADC; 
    font-weight: bold;
    position: absolute;
    top: 80px; /* Adjust as necessary to place below the welcome text */
    left: 50%; /* Centers the timer */
    transform: translateX(-50%); /* Adjusts for the exact center */
}

#welcomeText {
    color: #FEFADC;
    font-size: 2.5rem;
    position: absolute;
    top: 15px; /* Adjust this value as necessary */
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}



.quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem - 2px);
    margin-right: calc(1rem + 2px);

}


.quote-input {
    background-color: transparent;
    border: 2px solid #A1922E;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
}

    .quote-input:focus {
    border-color:    black;
    }

    .correct {
     color: green;

    }

    .incorrect {
        color: red;
        text-decoration: underline;

    }

    .welcomeText {
        color: #FEFADC; /* Choose a color that fits your theme */
        font-size: 6rem; /* Adjust the size as needed */
        text-align: center; /* Center the text */
        margin-bottom: 1px; /* Add some space between the welcome text and the timer */
    }
    